.detail-content {




  >p,
  >img,
  >ul,
  >ol,
  >table,
  >strong,
  >h3 {

    +p,
    +img,
    +ul,
    +ol,
    +table,
    +strong,
    +h3 {
      @apply mt-4;
    }
  }

  a {
    @apply text-primary underline;
  }

  >h2 {
    @apply text-[24px] leading-[28px] md:text-[32px] md:leading-[38px] font-[900] text-secondary mb-4 mt-6;
  }

  h4 {
    @apply font-[900] mt-3 mb-4;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 0.5rem; // rounded corners

    thead {
      th {
        @apply px-4 py-3 text-left bg-primary text-white text-sm uppercase tracking-wide;
      }
    }

    tbody {
      tr {
        @apply transition-colors duration-200;

        &:nth-child(odd) {
          @apply bg-orange-50;
        }

        &:hover {
          @apply bg-orange-100;
        }

        td {
          @apply px-4 py-3 text-sm text-gray-700;
          border-bottom: 1px solid #f3f3f3;
        }
      }
    }

    th,
    td {
      @apply px-4 py-3;
    }
  }

  ul,
  ol {
    padding-left: 24px;

    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &::marker {
        @apply font-[600];
      }
    }
  }

  ul {
    >li {
      list-style-type: disc;
    }
  }

  ol {
    >li {
      list-style-type: decimal-leading-zero;
    }
  }

  p {
    img {
      max-width: calc(50% - 16px);
      margin-right: 16px;
      float: left;
      aspect-ratio: 200 / 200;
      object-fit: cover;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.quote {
  &::before {
    content: "\201D";
    position: absolute;
    text-align: center;
    opacity: 0.1;
    top: 40px;
    left: 0;
    font-size: 10rem;
    line-height: 55px;
    font-weight: 700;
  }
}

iframe {
  width: 100%;
}

.related__news {
  .news__item {
    @apply md:mb-0;
  }
}